go 1.21.6

use (
	./cdk
	./repositories/repository
	./services/api/addProperty
	./services/api/authorizer
	./services/api/deleteProperty
	./services/api/getProperties
	./services/api/getProperty
	./services/api/login
	./services/api/register
	./services/api/registerAuthorizer
	./services/events/processImages
	./services/ssr/admin
	./services/ssr/homepage
	./services/ssr/includes
	./utils
)
