go 1.21.4

use (
	./cdk
	./repositories/repository
	./services/api/addProperty
	./services/api/authorizer
	./services/api/getProperties
	./services/api/getProperty
	./services/api/login
	./services/api/register
	./services/api/registerAuthorizer
	./services/ssr/homepage
	./utils
)
