package includes

script DropzoneEdit(imagesPaths []string, url string, deleteImagesFormKey string, imagesFormKey string) {
    InitEditDropzone(imagesPaths, url, deleteImagesFormKey, imagesFormKey)
}
